.caucasus-countries div {
  border: 2px dotted darkblue;
}
.caucasus-capital-cities div {
  border: 2px solid red;
}

div.block-caucasus-capitals > h2 {
 color: blue;
}

div.caucasus-capital-cities > div.item-list > h3 {
 color: purple;
}
